Chapter 3/code/*.c linguist-language=C linguist-language=C
Chapter 3/code/*.cpp linguist-language=C linguist-language=C++
Chapter 3/code/** linguist-documentation=false
Chapter 3/code/** linguist-vendored=false
Chapter 3/code/* linguist-documentation=false
Chapter 3/code/* linguist-vendored=false